<ion-header>
  <div class="top-searchBar" *ngIf="isSearchBarShow">
    <search></search>
  </div>
</ion-header>

<ion-content class="content-bg" fullscreen="true">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
    <!-- <div>321312</div> -->
  </ion-refresher>
  <div>
    <slides [currentPics]="currentPics" *ngIf="currentPics"></slides>
  </div>
  <div>
    <grid-goods-list [goods]="homeGoods" *ngIf="homeGoods"></grid-goods-list>
  </div>
</ion-content>
